﻿<div>
    <h3>Defects List</h3>
    <input type="button" value="Get All" onclick="GetAllDefects()" />
    <ul id="defects" />
</div>
<div>
    <h3>Get Defect by ID</h3>
    <input type="text" id="DefectId" size="5" />
    <input type="button" value="Search" onclick="FindDefect()" />
    <p id="defect" />
</div>
<div>
    <h3>Add Defects </h3>
    <table>
        <tr>
            <td>Title</td>
            <td><input type="text" id="txtTitle" /></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><input type="text" id="txtDescription" /></td>
        </tr>
        <tr>
            <td>Replication Procedures</td>
            <td><input type="text" id="txtReplicationProcedures" /></td>
        </tr>
        <tr>
            <td>Notes</td>
            <td><input type="text" id="txtNotes" /></td>
        </tr>
        <tr>
            <td>User Pain Index</td>
            <td><input type="text" id="txtUserPainIndex" /></td>
        </tr>
        <tr>
            <td>Date Found</td>
            <td><input type="text" id="txtDateFound" /></td>
        </tr>
        <tr>
            <td>Date Fixed</td>
            <td><input type="text" id="txtDateFixed" /></td>
        </tr>
        <tr>
            <td>Assigned To</td>
            <td><input type="text" id="txtAssignedToId" /></td>
        </tr>
        <tr>
            <td>Project Id</td>
            <td><input type="text" id="txtProjectId" /></td>
        </tr>
        <tr>
            <td>Reported By</td>
            <td><input type="text" id="txtReportById" /></td>
        </tr>
        <tr>
            <td>Workflow Step</td>
            <td><input type="text" id="txtWorkflowStep" /></td>
        </tr>
        <tr>
            <td colspan="3" align="left"><input type="button" value="Add" onclick="AddDefect()" /></td>
        </tr>
    </table>
</div>
<div>
    <h3>Delete Defect by ID</h3>
    <input type="text" id="deleteDefect" size="5" />
    <input type="button" value="Delete" onclick="DeleteDefect()" />
</div>
<div>
    <h3>Update Defect </h3>
    <table>
        <tr>
            <td>Id</td>
            <td><input type="text" id="txtDefId" /></td>
        </tr>
        <tr>
            <td>Title</td>
            <td><input type="text" id="txtDefTitle" /></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><input type="text" id="txtDefDescription" /></td>
        </tr>
        <tr>
            <td>Replication Procedures</td>
            <td><input type="text" id="txtDefReplicationProcedures" /></td>
        </tr>
        <tr>
            <td>Notes</td>
            <td><input type="text" id="txtDefNotes" /></td>
        </tr>
        <tr>
            <td>User Pain Index</td>
            <td><input type="text" id="txtDefUserPainIndex" /></td>
        </tr>
        <tr>
            <td>Date Found</td>
            <td><input type="text" id="txtDefDateFound" /></td>
        </tr>
        <tr>
            <td>Date Fixed</td>
            <td><input type="text" id="txtDefDateFixed" /></td>
        </tr>
        <tr>
            <td>Assigned To</td>
            <td><input type="text" id="txtDefAssignedToId" /></td>
        </tr>
        <tr>
            <td>Project Id</td>
            <td><input type="text" id="txtDefProjectId" /></td>
        </tr>
        <tr>
            <td>Reported By</td>
            <td><input type="text" id="txtDefReportById" /></td>
        </tr>
        <tr>
            <td>Workflow Step</td>
            <td><input type="text" id="txtDefWorkflowStep" /></td>
        </tr>
        <tr>
            <td colspan="3" align="left"><input type="button" value="Update" onclick="UpdateDefect()" /></td>
        </tr>
    </table>
</div>

<div class="row">
    <div id="body" class="col-md-4">
        <ol id="users"></ol>
    </div>
    <div id="body" class="col-md-4">
        <ol id="companies"></ol>
    </div>
    <div id="body" class="col-md-4">
        <ol id="defects"></ol>
    </div>
</div>


@section scripts{
    <script>

        function GetAllDefects() {
            $.ajax({
                url: '/API/Defect',
                type: 'GET',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('x-cmps-383-authentication-key', $.cookie('ApiKey'));
                    xhr.setRequestHeader('x-cmps-383-authentication-id', $.cookie('UserId'));
                },
                success: function (defects) {
                    var list = $('#defects');
                    for (var i = 0; i < defects.length; i++) {
                        var defect = defects[i];
                        list.append('<li>Defect Id:' + defect.Id + " - Defect Title: " + defect.Title + " - Defect Description: " +
                            defect.Description + " - Defect Replication Procedures: " + defect.ReplicationProcedures + " - Defect Notes: " +
                            defect.Notes + " - Defect User Pain Index: " + defect.UserPainIndex + " - Defect Date Found: " +
                            defect.DateFound + " - Defect Date Fixed: " + defect.DateFixed + " - Defect Assigned to Id: " + defect.AssignedToId + " - Defect Project Id: " + defect.ProjectId + " - Defect Reported By Id: " +
                            defect.ReportById + " - Defect Workflow Step Id: " + defect.WorkflowStepId + '</li>');
                    }
                },
                error: function () {
                    alert('Some error occurred')
                },

            });

        }

        function FindDefect() {
            var id = $('#DefectId').val();
            $.ajax({
                url: '/API/Defect/' + id,
                type: 'GET',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('x-cmps-383-authentication-key', $.cookie('ApiKey'));
                    xhr.setRequestHeader('x-cmps-383-authentication-id', $.cookie('UserId'));
                },
                success: function (result) {
                    $('#defect').text("Id: " + result.Id + " - Title:  " + result.Title + " - Description: " + result.Description + " - Replication Procedure: " + result.ReplicationProcedures +
                        " - Notes: " + result.Notes + " - User Pain Index: " + result.UserPainIndex + " - Date Found: " + result.DateFound + " - Date Fixed: " + result.DateFixed + " - Assigned to Id: " + result.AssignedToId
                        + " - Project Id: " + result.ProjectId + " - Reported By Id: " + result.ReportById + " - Workflow Step: " + result.WorkflowStepId);
                    for (var i = 0; i <= result.Defects.Count; i++)
                        $('#defect').text(result.Defects);
                },
                error: (function (jqXHR, textStatus, err) {
                    $('#defect').text('Error: ' + err);
                })
            });
        }

        function AddDefect() {

            var defect = {
                Title: $('#txtTitle').val(),
                Description: $('#txtDescription').val(),
                ReplicationProcedures: $('#txtReplicationProcedures').val(),
                Notes: $('#txtNotes').val(),
                UserPainIndex: $('#txtUserPainIndex').val(),
                DateFound: $('#txtDateFound').val(),
                DateFixed: $('#txtDateFixed').val(),
                AssignedToId: $('#txtAssignedToId').val(),
                ProjectId: $('#txtProjectId').val(),
                ReportById: $('#txtReportById').val(),
                WorkflowStepId: $('#txtWorkflowStep').val(),
            };

            $.ajax({
                url: '/API/Defect',
                type: 'POST',
                data: JSON.stringify(defect),
                contentType: "application/json",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('x-cmps-383-authentication-key', $.cookie('ApiKey'));
                    xhr.setRequestHeader('x-cmps-383-authentication-id', $.cookie('UserId'));
                },
                success: function (data) {
                    alert('Defect added');
                    GetAllDefects();
                },
                error: function () {
                    alert('Some error occured');
                }
            });
        }
        function DeleteDefect() {
            var id = $('#deleteDefect').val();
            $.ajax({
                url: '/API/Defect/' + id,
                type: 'DELETE',
                contentType: 'application/json',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('x-cmps-383-authentication-key', $.cookie('ApiKey'));
                    xhr.setRequestHeader('x-cmps-383-authentication-id', $.cookie('UserId'));
                },
                success: function (data) {
                    alert('Defect deleted');
                    GetAllDefects();
                },
                error: function () {
                    alert('User not found');
                }
            });

        }

        function UpdateDefect() {
            var id = $('#txtDefId').val();
            var defect = {
                Id: $('#txtDefId').val(),
                Title: $('#txtDefTitle').val(),
                Description: $('#txtDefDescription').val(),
                ReplicationProcedures: $('#txtDefReplicationProcedures').val(),
                Notes: $('#txtDefNotes').val(),
                UserPainIndex: $('#txtDefUserPainIndex').val(),
                DateFound: $('#txtDefDateFound').val(),
                DateFixed: $('#txtDefDateFixed').val(),
                AssignedToId: $('#txtDefAssignedToId').val(),
                ProjectId: $('#txtDefProjectId').val(),
                ReportById: $('#txtDefReportById').val(),
                WorkflowStepId: $('#txtDefWorkflowStep').val(),
            };

            $.ajax({
                url: '/API/Defect/' + id,
                type: 'PUT',
                data: JSON.stringify(defect),
                contentType: "application/json",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('x-cmps-383-authentication-key', $.cookie('ApiKey'));
                    xhr.setRequestHeader('x-cmps-383-authentication-id', $.cookie('UserId'));
                },
                success: function (data) {
                    alert('Defect updated');

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('Some error occured');
                }
            });


        }


    </script>
}




